span{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  background-color:white;
}

body{
  background-color:whitesmoke;
}
input{
  border-radius: 20px;
  background-color: white;
  font-size: 15px;
}
button{
  padding: 0px;
  background-color:grey;
  color:black;
  font-size: 18px;
  border-radius: 25px;

}
div{
  text-align: center;
}
